<div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary" style="background-color:#9D7DBD;">
            <div id="ww_36352ada4d3c7" v='1.20' loc='auto' a='{"t":"horizontal","lang":"en","ids":[],"cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_sot":"fahrenheit","sl_ics":"one_a","font":"Arial"}'><a href="https://weatherwidget.org/" id="ww_36352ada4d3c7_u" target="_blank">Embed Weather Widget on Website</a> with Weatherwidget.org</div><script async src="https://srv1.weatherwidget.org/js/?id=ww_36352ada4d3c7"></script>
          </article>
          <article class="tile is-child notification is-warning" style="background-color:#9D7DBD;">
            <p class="title">Links to Plant and Weed Data</p>
            <p class="subtitle"></p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info" >
            <p class="title">Calendar</p>
            <iframe src="https://calendar.google.com/calendar/embed?src=jdt4114tva503f9192qnt6r6f4%40group.calendar.google.com&ctz=America%2FDenver" style="border: 0" width="350px" height="300px" frameborder="0" scrolling="no"></iframe>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Emergency Resources</p>
          <p class="subtitle"></p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
  </div>


  
  <div class="columns">


    <div class="column is-one-fifth">
    
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    
    </div>