<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="/public/assets/lotus2.png" width="28" height="28">
      </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navItems">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navItems" class="navbar-menu">
      <div class="navbar-start">
  
        <a class="navbar-item" href="/users/profile">
          Back
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Menu
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/users/profile" >
              My Profile
            </a>
            <a class="navbar-item" href="/timesheets">
              Timesheets
            </a>
            <a class="navbar-item" href="https://online.adp.com/signin/v1/?APPID=RDBX&productId=80e309c3-70c6-bae1-e053-3505430b5495&returnURL=https://my.adp.com/&callingAppId=RDBX&TARGET=-SM-https://my.adp.com/static/redbox/" 
              target="_blank" rel="noreferrer noopener">
              Paystubs
            </a>
            <a class="navbar-item">
          Time-Off Requests
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Contacts
            </a>
          </div>
        </div>
      </div>


<h1>Edit Account</h1>
<% if(err) { %>
<p style="color: red;  margin: 1rem"><%= err %></p>
<% } %>
<form action="/users/profile/edit?_method=PUT" method="POST">
    <label for="name">
        Name
        <input type="name" name="name" id="name" value="<%= user.name %>" autofocus required="true">
    </label>
    <label for="name">
        Phone
        <input type="tel" name="phone" id="name" value="<%= user.phone %>">
    </label>
    <label for="email">
        Email
        <input type="email" name="email" id="email" value="<%= user.email %>" required="true">
    </label>
    <label for="password">
        Password
        <input type="password" name="password" id="password">
    </label>
    <label for="submit">
        <input class="button" type="submit" id="submit" value="Save">
    </label>
</form>

<form action="/users/profile?_method=DELETE" method="POST">
    <p style="color: red; text-align: center; margin-bottom: 1rem;">CAUTION! CANNOT BE UNDONE!</p>
    <label for="confirm">
        Are you sure? Check box to confirm.
        <input type="checkbox" name="confirm" id="confirm" required>
    </label>
    <label for="delete-profile">
        <input style="width: fit-content;" class="button" type="submit" id="delete-profile" value="Delete Profile">
    </label>
</form>