<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="/public/assets/lotus2.png" width="28" height="28">
      </div>
    </div>
  
    <div id="navItems" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                Native Landscapes and Gardens Employee Portal
            </div>
        </div>
    </div>
</nav>

<section class="hero is-fullheight" style="background-image: url('/public/assets/home-img.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="hero-body" style="padding: 100px; max-width: 800px; justify-content: center;">
        <div class="container has-text-centered" style="background-color: white; padding: 20px">
            <h2 class="title has-text-black">Native Landscapes and Gardens</h2>
            <h3 class="title has-text-black">Login</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-black">Please login to proceed</p>

            <div class="box">
                <figure class="avatar">
                    <img class="image is-128x128" src="/public/assets/lotus2.png" alt="company-logo" style="display: inline;">
                </figure>

                <form action="/users/login" method="POST">
                    <div class="field">
                        <div class="control">
                        <label for="email"></label>
                            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="password"></label>
                            <input class="input is-large" type="password" name="password" placeholder="Your Password">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class= "button is-primary" type="submit" id="submit" value="Login">
                        </div>
                    </div>
                </form>

                </div>
                    <p>Don't have an account?</p>
                    <a class="button" href="/users/signup">Signup</a>
                </div>
            </div>
        </div>
    </div>
</section>