<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: white;">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home">
        <img src="public/assets/lotus2.png" width="28" height="28">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="right-side">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="right-side" class="navbar-menu">
      <div class="navbar-start">  
        <a class="navbar-item" href="/home">
          Company Name Employee Portal
        </a>
    </div>
</nav>

<section class="hero is-fullheight" style="background-image: url('public/assets/home-img.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="hero-body" style="padding: 100px; max-width: 500px; justify-content: center;">
        <div class="container has-text-centered" style="background-color: white; padding: 20px">
                <h2 class="title has-text-black">Company Name</h2>
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img class="image is-128x128" src="public/assets/lotus2.png" alt="company-logo">
                    </figure>
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <a href="/homepage" class="button is-block is-info is-large is-fullwidth" style="background-color:#9D7DBD;" >Login<i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </form>
                </div>
                    <a href="/signup" class="button is-info is-medium is-" style="background-color:#43a598;">Sign Up</a>
            </div>
        </div>
    </div>
</section>