<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/public/assets/lotus2.png" width="28" height="28">
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navItems" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        NLG
      </div>
      <a class="navbar-item" href="/users/dashboard">
        Back to Dashboard
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users/profile" >
            My Profile
          </a>
          <a class="navbar-item" href="/timesheets">
            Timesheets
          </a>
          <a class="navbar-item" href="https://online.adp.com/signin/v1/?APPID=RDBX&productId=80e309c3-70c6-bae1-e053-3505430b5495&returnURL=https://my.adp.com/&callingAppId=RDBX&TARGET=-SM-https://my.adp.com/static/redbox/" 
            target="_blank" rel="noreferrer noopener">
            Paystubs
          </a>
          <a class="navbar-item">
            Time-Off Requests
          </a>
          <a class="navbar-item">Client Portfolio</a>
          <a class="navbar-item">Plant Inventory</a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Contacts
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/users/logout">
            <strong>Sign Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-fullheight has-text-centered" style="background-image: url('/public/assets/home-img.jpg'); background-size: cover; background-repeat: no-repeat;">
  <div class="body has-text-left" style="padding: 100px; max-width: 1000px;">
    <div class="container" style="background-color: white; padding: 20px">
      <h1 class="title">Profile Information</h1>
      <br>
      <div class="box is-striped is-hoverable">
        <div class="field">
          <label class="label">Name: </label>
            <div class="control">
              <p><%= user.name %></p>
            </div>

            <label class="label">Phone Number: </label>
            <div class="control">
              <p><%= user.phone %></p>
            </div>

            <label class="label">Email: </label>
            <div class="control">
              <p><%= user.email %></p>
            </div>
            <br>
        </div>
      </div>
      <br>
      
      <a class="button is-primary" href="/users/profile/edit">Edit Profile Information</a>
    </div>
  </div>  
</section> 