<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/public/assets/lotus2.png" width="28" height="28">
    </div>
  </div>

  <div id="navItems" class="navbar-menu">
      <div class="navbar-start">
          <div class="navbar-item">
              Native Landscapes and Gardens Employee Portal
          </div>
      </div>
  </div>
</nav>

<section class="hero is-fullheight" style="background-image: url('/public/assets/home-img.jpg'); background-size: cover; background-repeat: no-repeat;">
  <div class="body" style="padding: 100px;">
    <div class="container" style="background-color: white; padding: 20px">
        <h1 style="font-size: larger;"><strong>Sign up for a new account:</strong></h1>
        <br>

        <form action="/users/signup" method = "POST">
          <div class="field">

            <label class="label" for="name">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="First and Last name" autofocus required>
            </div>

            <label class="label" for="phone">Phone Number</label>
            <div class="control">
              <input class="input" type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000">
            </div>

            <label class="label" for="email">Email</label>
            <div class="control">
                <input class="input" type="email" name="email" placeholder="my.email@email.com" required="true">
            </div>

            <label class="label" for="password">Password- minimum of 8 characters</label>
            <div class="control">
              <input class="input" type="password" name="password" placeholder="select password" required="true">
            </div> 
            <br>

            <input class="button is-primary" type="submit" value="Sign-up">
          </div>
        </form>
        <br>
        <a class="button is-light" href="/homepage">Cancel</a>
        <br>
        <p>Already have an account?</p>
        <a class="button is-light" href="/users/login">Login</a>
    </div>
  </div>
</section> 

