<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/public/assets/lotus2.png" width="28" height="28">
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navItems" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        NLG
      </div>
      <a class="navbar-item" href="/users/dashboard">
        Back to Dashboard
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users/profile" >
            My Profile
          </a>
          <a class="navbar-item" href="/timesheets">
            Timesheets
          </a>
          <a class="navbar-item" href="https://online.adp.com/signin/v1/?APPID=RDBX&productId=80e309c3-70c6-bae1-e053-3505430b5495&returnURL=https://my.adp.com/&callingAppId=RDBX&TARGET=-SM-https://my.adp.com/static/redbox/" 
            target="_blank" rel="noreferrer noopener">
            Paystubs
          </a>
          <a class="navbar-item">
            Time-Off Requests
          </a>
          <a class="navbar-item">Client Portfolio</a>
          <a class="navbar-item">Plant Inventory</a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Contacts
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/users/logout">
            <strong>Sign Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<article class="panel">
  <p class="panel-heading">
    My Timesheets
  </p>
  <br>
  <div style="padding-left: 30px;">
    <a href="/timesheets/new" class="button is-primary">Create New Timesheet</a>
  </div>
  <hr>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a >By Week (dev)</a>
    <a >By Month (dev)</a>
  </p>

<% allTimesheets.forEach(timesheet => { %>
  <a href="/timesheets/<%= timesheet._id %>" class="panel-block is-active" style="padding-left: 30px;">
    <%= `${timesheet.date.toDateString()}-  Project Location: ${timesheet.location}` %>
  </a>
<% }) %>
</article>


 

    
