<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/public/assets/lotus2.png" width="28" height="28">
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navItems">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navItems" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="/timesheets/">
        Back
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users/profile" >
            My Profile
          </a>
          <a class="navbar-item" href="/timesheets">
            Timesheets
          </a>
          <a class="navbar-item" href="https://online.adp.com/signin/v1/?APPID=RDBX&productId=80e309c3-70c6-bae1-e053-3505430b5495&returnURL=https://my.adp.com/&callingAppId=RDBX&TARGET=-SM-https://my.adp.com/static/redbox/" 
            target="_blank" rel="noreferrer noopener">
            Paystubs
          </a>
          <a class="navbar-item">
        Time-Off Requests
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Contacts
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/users/logout">
            <strong>Sign Out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<article class="panel">
  <p class="panel-heading">
    Create New Timesheet
  </p>
<div class="box">
  <form action="/timesheets" method="POST">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">  
      <tr>
        <td><strong>Date: </strong><br><input type="date" name="date" required="true"></td>
      </tr>
      <tr>
        <td><strong>AM Start Time: </strong><br><input type="text" name="startTime"></td>
      </tr>
      <tr>
        <td><strong>Lunch Break Start: </strong><br><input type="text" name="lunchStart"></td>
      </tr>
      <tr>
        <td><strong>Lunch Break End: </strong><br><input type="text" name="lunchEnd"></td>
      </tr>
      <tr>
        <td><strong>PM End Time: </strong><br><input type="text" name="endTime"></td>
      </tr>
      <tr>
        <td><strong>Project Location: </strong><br><input type="text" name="location"></td>
      </tr>
      <tr>
        <td><strong>Client Notes: </strong><br><textarea type="text" name="notes" id="notes" cols="30" rows="10"></textarea></td>
      </tr>
    </table>
    <div class="level-item" style="justify-content: left;"></div>
      <input class="button is-primary" type="submit" value="Create Timesheet">
      <a class="button is-light" href="/timesheets">Cancel</a>
  </form>
</div>

<!-- <script>
  function handleClickedButton() {
    const newFields = document.createElement("div");
    const parentDiv = document.querySelector(".table");
    newFields.innerHTML = 
      `<tr>
        <td>Start Time: <input type="text" name="startTime"></td>
      </tr>
      <tr>
        <td>End Time: <input type="text" name="endTime"></td>
      </tr>
      <tr>
        <td>Location: <input type="text" name="location"></td>
      </tr>
      <tr>
        <td>Notes: <input name="notes" id="" cols="30" rows="10"></td>
      </tr>
    </div>
    <tr>
      <td><button id="addNew" class="button is-primary is-light">Add Entry</button></td>
    </tr>`
    parentDiv.prepend(newFields);
}
const newEntryButton = document.querySelector("#addNew");
newEntryButton.addEventListener("click", handleClickedButton);

</script> -->